<!doctype html>
<html>
<head>
	<title>SafeSpace</title>
	<link rel="stylesheet" href="/css/formstyle.css">
	<script type='text/javascript' src='/javascript/jquery.js'></script>
	<script type='text/javascript' src='/javascript/animate.js'></script>
</head>
<body>
<div id="parent">
	<div>

		<h1>Sign Up</h1>

		<% if (message.length > 0) { %>
			<div class="message"><%= message %></div>
		<% } %>

		<form action="/signup/username" method="post">
			<div class="formCont">
				<label>Username</label>
				<input type="text" name="username">
			</div>
			<br>
			<button type="submit" class="button">Continue</button>
		</form>

	</div>
	<p><br><br><br><br></p>
	<p>Oops? <a href="/">Launch Page</a></p>
</div>

</body>
</html>