<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="css/indexstyle.css"/>
	<script type='text/javascript' src='javascript/jquery.js'></script>
	<script type='text/javascript' src='javascript/animate.js'></script>
		<title>
			SafeSpace
		</title>
</head>
<body>
	<div id="passImg">
		<img src='viewport.png' alt=""/>
	</div>
	<div id="pageText">
		<h1>Safe Space</h1>
		<h3>
			Safe Space is a prototype of a graphical password system that uses a 360 degree 
			panorama of a room with user chosen clickable regions to create a novel login 
			experience. This is the pilot study of this system.
		</h3>
		<p>
			If this is your first trial of this system click sign-up to set up your login 
			information. If this is your second trial of the system please click login 
			and enter your username and password.

			All passwords must be three or more regions of the image, and order does matter.
		</p>
		<p>Click one of the below buttons to begin the study.</p>
	</div>
	<div id="linkList">
		<a href="/signup/username"><div class="button">Sign Up</div></a>
		<a href="/login/username"><div class="button">Login</div></a>
	</div>
</body>
</html>