<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/css/notestyle.css"/>
	<script type='text/javascript' src='/javascript/script.js'></script>
	<script type='text/javascript' src='/javascript/jquery.js'></script>
	<script type='text/javascript' src='/javascript/animate.js'></script>
		<title>
			Note Editor
		</title>
</head>
<body>
	<div id="objectParent">
	    <div id="textBox" contenteditable = "true">
			<%- user.text %>
	    </div>
		<div id="canvasDiv">
			<canvas id="editableCanvas"> We're very sorry, but the browser you are using does not support HTML5, which is integral to the function of this site. Please try updating your browser or switching to a supported browser like Chrome or Firefox.</canvas>
	    </div>
	    <div id="container">
	    	<div id="holder1">
			    <div class="text" id="textButton">Tt</div>
			    <div class="svg" id="crayonButton">
			    	<svg xmlns="http://www.w3.org/2000/svg">
						<path id="crayon1" d="m 3, 8 8.572682,0.875602 3.230697,0.67335 -5.044636,6.98636 -2.198486,2.46119 -3.528048,-7.861962 z" stroke="#e0e0e0" stroke-width="2" fill="black"/>
						<rect id="crayon2" width="28" height="12" x="19" y="-1" ry="0" transform="matrix(0.79968466,0.60042023,-0.60042023,0.79968466,0,0)" stroke="#e0e0e0" stroke-width="2" fill="black"/>
					</svg>
			    </div>
				<form action="/note" method="post">
					<input type="text" id="saveImage" class="secret" name="image"></input>
					<input type="text" id="saveContent" class="secret" name="content"></input>
					<button type="submit" id="saveButton" class="text">
				    	<svg xmlns="http://www.w3.org/2000/svg">
						  <line stroke="#e0e0e0" id="svg_2" y2="34.501073" x2="2.125" y1="4.5" x1="2.125" stroke-width="3"/>
						  <line stroke="#e0e0e0" id="svg_3" y2="33.125" x2="31" y1="33" x1="2.625" stroke-width="3"/>
						  <line stroke="#e0e0e0" id="svg_4" y2="34.637095" x2="30.75" y1="11.25" x1="30.75" stroke-width="3"/>
						  <line transform="rotate(-2.32782 28.1875 8.9375)" stroke="#e0e0e0" id="svg_5" y2="5.5" x2="25.375" y1="12.375" x1="31" stroke-width="3"/>
						  <line stroke="#e0e0e0" id="svg_7" y2="14" x2="25" y1="4.625" x1="25" stroke-width="3"/>
						  <line id="svg_8" y2="14.256574" x2="27.875" y1="9.5" x1="27.875" stroke-width="3" stroke="#e0e0e0"/>
						  <line id="svg_9" y2="15.125" x2="2.995349" y1="15.125" x1="29.875" stroke-width="3" stroke="#e0e0e0"/>
						  <line stroke="#e0e0e0" id="svg_10" y2="32.379999" x2="4.875" y1="4.5" x1="4.875" stroke-width="3"/>
						  <line id="svg_11" y2="10.25" x2="28.375" y1="8.875" x1="25.5" stroke-width="3" stroke="#e0e0e0"/>
						  <line id="svg_12" y2="10.625" x2="19.625" y1="4.75" x1="19.625" stroke-width="3" stroke="#e0e0e0"/>
						  <line id="svg_13" y2="20.125" x2="9.125" y1="20.25" x1="27" stroke="#e0e0e0"/>
						  <line id="svg_14" y2="28.0625" x2="9.3125" y1="28.1875" x1="27.1875" stroke="#e0e0e0"/>
						  <line id="svg_15" y2="24.1875" x2="9.1875" y1="24.3125" x1="27.0625" stroke="#e0e0e0"/>
						</svg>
					</button>
				</form>
			    <a href="/dashboard"><div class="text" id="dashButton">
			    	<svg xmlns="http://www.w3.org/2000/svg">
  						<rect fill="#e0e0e0" stroke-width="3" x="8.374998" y="19.5" width="27.500003" height="18.875" id="svg_16" stroke="#e0e0e0"/>
  						<line stroke-width="3" x1="22.587874" y1="4.3025" x2="7.662127" y2="18.572501" id="svg_17" transform="rotate(-3.3274 15.125 11.4375)" stroke="#e0e0e0"/>
  						<line stroke-width="3" x1="21.167926" y1="3.825431" x2="35.707074" y2="19.674569" id="svg_18" transform="rotate(-4.52245 28.4375 11.75)" stroke="#e0e0e0"/>
  						<rect stroke="#e0e0e0" transform="rotate(41.9028 22.0938 20.75)" id="svg_1" height="16.64122" width="19.255115" y="12.42939" x="12.466192" stroke-width="3" fill="#e0e0e0"/>
  						<rect stroke="#e0e0e0" id="svg_2" height="13" width="9.5" y="27.875" x="17.375" stroke-width="0" fill="gray"/>
  					</svg>
			    </div></a>
			</div>
			<div id="holder2">
				<div id="fontButtons">
				    <div class="text" id="boldButton"><strong>B</strong></div>
				    <div class="text" id="italicsButton"><em>I</em></div>
				    <div class="text" id="underlineButton"><u>U</u></div>
				    <div class="svg" id="ordListButton">
				    	<svg xmlns="http://www.w3.org/2000/svg">
							<text x="3" y="10" fill="#e0e0e0">1.</text>
							<line x1="12" y1="12" x2="38" y2="12" stroke="#e0e0e0" stroke-width="1"/>
							<text x="3" y="23" fill="#e0e0e0">2.</text>
							<line x1="12" y1="25" x2="38" y2="25" stroke="#e0e0e0" stroke-width="1"/>
							<text x="3" y="37" fill="#e0e0e0">3.</text>
							<line x1="12" y1="39" x2="38" y2="39" stroke="#e0e0e0" stroke-width="1"/>
						</svg>
				    </div>
				    <div class="svg" id="unordListButton">
				    	<svg xmlns="http://www.w3.org/2000/svg">
							<circle cx="6" cy="6" r="2" fill="#e0e0e0"/>
							<line x1="10" y1="12" x2="38" y2="12" stroke="#e0e0e0" stroke-width="1"/>
							<circle cx="6" cy="19" r="2" fill="#e0e0e0"/>
							<line x1="10" y1="25" x2="38" y2="25" stroke="#e0e0e0" stroke-width="1"/>
							<circle cx="6" cy="32" r="2" fill="#e0e0e0"/>
							<line x1="10" y1="38" x2="38" y2="38" stroke="#e0e0e0" stroke-width="1"/>
						</svg>
				    </div>
				</div>
				<div id="canvasButtons">
					<div id="blackButton" class="color"></div>
				    <div id="brownButton" class="color"></div>
				    <div id="redButton" class="color"></div>
				    <div id="orangeButton" class="color"></div>
				    <div id="yellowButton" class="color"></div>
				    <div id="greenButton" class="color"></div>
				    <div id="blueButton" class="color"></div>
				    <div id="purpleButton" class="color"></div>
				    <div class="svg" id="drawCrayonButton">
				    	<svg xmlns="http://www.w3.org/2000/svg">
							<path d="m4,16.5c0,0 15,-17 20,-12 c5,5 -18,21 -14,28 c4,7 23,-20 26,-14 c3,6 -3,17 -7,20" stroke="#e0e0e0" stroke-width="3" fill="transparent"/>
						</svg>
				    </div>
				    <div class="svg" id="drawLineButton">
				    	<svg xmlns="http://www.w3.org/2000/svg">
							<line x1="6" y1="6" x2="38" y2="38" stroke="#e0e0e0" stroke-width="5"/>
						</svg>
				    </div>
				    <div class="svg" id="drawRectButton">
				    	<svg xmlns="http://www.w3.org/2000/svg">
							<rect x="6" y="6" width="32" height="32" fill="#e0e0e0"/>
						</svg>
				    </div>
				    <div class="svg" id="drawCircleButton">				    	
						<svg xmlns="http://www.w3.org/2000/svg">
							<circle cx="22" cy="22" r="18" fill="#e0e0e0"/>
						</svg>
				    </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>