<!doctype html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" href="/css/formstyle.css">
	<script type='text/javascript' src='/javascript/jquery.js'></script>
	<script type='text/javascript' src='/javascript/animate.js'></script> 
</head>
<body>
<div id="parent">
	<div>

		<h1>Success</h1>

		<form action="/signup/success" method="post">
			<br>
			<div id="canvasDiv">
				<p>Cool.</p>
	    	</div>
			<button type="submit" class="button">Launch Page</button>
		</form>

	</div>
</div>

</body>
</html>